body {
    background-color: whitesmoke;
}


h1 {
    font-family: "Trebuchet MS", Helvetica, sans-serif;
}

.main-header {
    background-color: midnightblue;
    width: 20vw;
    padding: 30px;
    margin-bottom: 100px;
    color: white;
    display: block;
    background-size: cover;
    padding: 50px;
}

.blog-image 
{
    width: 225px;
    border-radius: 150px;
}